# render.yaml
services:
  - type: web
    name: dayli_bot_app
    env: docker
    plan: free
    repo: https://github.com/angelicaromendez/DayliBotProject
    branch: main
    dockerfilePath: Dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: dayli_bot_db
          property: connectionString
      - key: DJANGO_SUPERUSER_USERNAME
        value: "admin"
      - key: DJANGO_SUPERUSER_EMAIL
        value: "admin@example.com"
      - key: DJANGO_SUPERUSER_PASSWORD
        value: "adminpassword"
    healthCheckPath: "/"
    autoDeploy: true

databases:
  - name: dayli_bot_db
    plan: free
    postgresVersion: 13
    region: oregon